html {
    background-color: var(--Hoofdkleur-rood);
}

body {
    margin: 0;
    font-family: 'inter';
}

/* root */


:root {
    --Hoofdkleur-rood: #d94412;
}


/* styling tekst */

h1 {
    color: rgb(226, 226, 226);
    text-align: center;
    margin-left: 1em;
    margin-top: .75em;
}

h2 {
    color: rgb(239, 197, 13);
    text-align: center;
}

h3 {
    color: rgb(226, 226, 226);
    text-align: center;
}


p {
    color: white;
}

/* styling buttons */

section:nth-of-type(1) button {
    width: 8em;
    height: 8em;
    border-radius: 3em;
    background-color: #FFC72C;
    border: 5px solid #d94412;
    margin-left: 2em;
    margin-bottom: 2em;
    transition: 0.3s ease;
}

section:nth-of-type(1) button:hover {
    width: 10em;
    height: 10em;
    border-radius: 4em;
    margin-left: 2em;
    background-color: #c0951f;
    cursor: pointer;
}

section:nth-of-type(1) button:hover span {
    opacity: 1;
    color: yellow;
}

section:nth-of-type(1) button span {
    position: absolute;
    transform: translate(-50%, -300%);
    opacity: 0;
    color: yellow;
    font-weight: bold;
    transition: opacity 0.3s ease;
}



section:nth-of-type(1) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0em;
    padding-inline-start: 0px;
}

/* nav */

nav {
    background-color: #d94412;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* Apply box shadow */
}

nav img {
    height: 2.5em;
    margin-right: 1.5em;
    margin-top: .75em;
}



/*section 1*/

.section1 {
    background-color: #333;
    padding-top: 6em;
    padding-bottom: 0em;
    margin-bottom: 2em;
}

#deEend {
    max-width: 25%;
}

.section1 img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section1 div {
    text-align: center;
    padding: 2em;
    padding-left: 0;
    padding-right: 0;
    font-size: 2em;
}

.section1 div p {
    background-color: purple;
}


.section2 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* Three columns on the left */
    grid-template-rows: auto;
    gap: 20px;
    /* Adjust the gap between items */
    background: #d56038;
    width: 90%;
    margin: auto;
    padding: 3em;
}

/* Style for items on the left */
.left-itemSection2 {
    grid-column: span 2;

    /* Each item on the left spans 2 columns */
    padding: 0px;
    margin: 0;
    margin-left: 2em;
    width: 80%;
}

/* Style for the item on the right */
.right-itemSection2 {
    grid-column: span 1;
    padding: 20px;
    margin: 0;
    background-color: #FFD700;
    border: solid 5px #d91212;
    border-radius: 3em;
}

.right-itemSection2:hover {
    grid-column: span 1;
    padding: 20px;
    margin: 0;
    background-color: #c0951f;
    border: solid 5px #d91212;
    border-radius: 3em;
}

.right-imageSection2 {
    grid-column: span 3;
    width: 40%;
    padding: 3em;
}


/* section 3 */

.container {
    height: 80vh;
    /* Adjust this value based on your content */
}

.container h3 {
    padding-top: 3em;
    /* Adjust this value based on your content */
}

.podium-section {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.podium {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.podium-item {
    height: 12em;
    color: #fff;
    text-align: center;
    margin: 10px 10px;
    transition: transform 1s ease-in-out;
}

.podium-item img {
    width: 15em;
    height: 8em;
    object-fit: cover;
}

#thirdPlace {
    background-color: #CD7F32;
}

#secondPlace {
    background-color: #C0C0C0;
}

#firstPlace {
    background-color: #FFD700;
}

/* footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

footer a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}