html {
    background-color: var(--Hoofdkleur-geel);
}

body {
    margin: 0;
}

/* root */


:root {
    --Hoofdkleur-geel: #d94412;
}


/* styling tekst */

h1 {
    color: rgb(226, 226, 226);
    text-align: center;
    margin-left: 2em;
}

h2 {
    color: rgb(239, 197, 13);
    text-align: center;
}

h3 {
    color: rgb(226, 226, 226);
    text-align: center;
}


p {
    color: white;
}

/* styling buttons */

section:nth-of-type(1) button {
    width: 8em;
    height: 8em;
    border-radius: 3em;
    background-color: #FFC72C;
    border: 5px solid #d94412;
    margin-left: 2em;
    margin-bottom: 2em;
    transition: 0.3s ease;
}

section:nth-of-type(1) button:hover {
    width: 10em;
    height: 10em;
    border-radius: 4em;
    margin-left: 2em;
    background-color: #c0951f;
    cursor: pointer;
}

section:nth-of-type(1) ul {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0em;
    padding-inline-start: 0px;
}

/* nav */

nav {
    background-color: #d94412;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Apply box shadow */
}

nav img {
    height: 2.5em;
    margin-right: 2em;
    margin-top: .8em;
}



/*section 1*/

.section1 {
    background-color: #4ea7d8;
    padding-top: 6em;
    padding-bottom: 0em;
    height: 80vh;
}

#deEend {
    max-width: 25%;
}

.section1 img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section1 div {
    color: red;
    text-align: center;
    padding: 2em;
}

/*section 2*/

/*.section2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    width: 80vw;
    height: 35vh;
    background: #d56038;
    padding: 2em;
    margin: auto;
    margin-top: 2em;
} */

.section2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    width: 80vw;
    height: fit-content;
    background: #d56038;
    padding: 2em;
    margin: auto;
    margin-top: 2em;
    grid-template-areas: "test test3"
        "test2 test4";
}

.section2 h2 {
    grid-area: test;
}

.section2 .p:nth-of-type(1) {
    grid-area: test2;
}

.section2 .p:nth-of-type(2) {
    grid-area: test3;
}

.section2 button {
    grid-area: test4;
}

/* .section2 h2 {
    width: calc(50% - 1em);
    margin: 0.5em 0 0 0;
}

.section2 p {
    margin: 0;
    width: calc(50% - 1em);
}

.section2 button {
    width: 20%;
    height: 15%;
    background: yellow;
    margin-top: 9em;
} */

/* section 3 */

.container {
    height: 100vh;
    /* Adjust this value based on your content */
}

.container h3 {
    padding-top: 3em;
    /* Adjust this value based on your content */
}

.podium-section {
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.podium {
    display: flex;
    gap: 3em;
}

.podium-item {
    width: 15em;
    height: 12em;
    color: #fff;
    text-align: center;
    margin: 0 10px;
    transition: transform 1s ease-in-out;
}

.podium-item img {
    width: 15em;
    height: 8em;
    object-fit: cover;
}

#thirdPlace {
    background-color: #CD7F32;
}

#secondPlace {
    background-color: #C0C0C0;
}

#firstPlace {
    background-color: #FFD700;
}

/* footer */

footer {
    width: 100%;
    height: 30%;
    background-color: red;
}