html {
    background-color: var(--Hoofdkleur-rood);
}

body {
    margin: 0;
    font-family: 'inter';
}

/* root */


:root {
    --Hoofdkleur-rood: #d94412;
}


/* styling tekst */

h1 {
    color: rgb(226, 226, 226);
    text-align: center;
    margin-left: 1em;
    margin-top: .75em;
}

h2 {
    color: rgb(239, 197, 13);
    text-align: center;
}

h3 {
    color: rgb(226, 226, 226);
    text-align: center;
}


p {
    color: white;
}

/* styling buttons */

section:nth-of-type(1) button {
    width: 8em;
    height: 8em;
    border-radius: 3em;
    background-color: #FFC72C;
    border: 5px solid #d94412;
    margin-left: 2em;
    margin-bottom: 2em;
    transition: 0.3s ease;
}

section:nth-of-type(1) button:hover {
    width: 10em;
    height: 10em;
    border-radius: 4em;
    margin-left: 2em;
    background-color: #c0951f;
    cursor: pointer;
}

section:nth-of-type(1) button:hover span {
    opacity: 1;
    color: yellow;
}

section:nth-of-type(1) button span {
    position: absolute;
    transform: translate(-50%, -300%);
    opacity: 0;
    color: yellow;
    font-weight: bold;
    transition: opacity 0.3s ease;
}



section:nth-of-type(1) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 0em;
    margin-top: 3.5em;
    padding-inline-start: 0px;
}

/* nav */

nav {
    background-color: #d94412;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* Apply box shadow */
}

nav img {
    height: 2.5em;
    margin-right: 1.5em;
    margin-top: .75em;
}



/*section 1*/

.section1 {
    background-color: #333;
    padding-top: 6em;
    padding-bottom: 0em;
    margin-bottom: 2em;
    background-image: url(./images/vijver.jpg);
    background-size: cover;
    background-position: top;
}

.section1 h2 {
    color: rgb(0 0 0);
    text-align: center;
    background-color: #35353552;
    width: 30%;
    font-size: 3rem;
    border-radius: 2em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.section1 #deEend {
    max-width: 75%;
}


.section1 ul img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.section1 figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 2em;
}

.section1 figcaption {
    background-color: white;
    width: 20%;
    margin-left: 1em;
    padding: 2em;
}

.section1 figcaption p {
    color: #333;
    width: 50%;
    padding: 2em;
}

.section2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: #d96a45;
}




.section2 h2 {
    text-align: left;
    margin-left: 2em;
}

.section2 p {
    text-align: left;
    margin-left: 3em;

}

.section2 article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.section2 figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.section2 img {
    background-color: cyan;
    background-color: cyan;
    width: 90%;
    height: 20em;
    margin-left: 2em;
    display: block;
    object-fit: cover;

}

.section2 button {
    background-color: #c0951f;
    width: 45%;
    margin-left: 30%;
    margin-top: 2em;
}




/* section 3 */

.container {
    height: 80vh;
    /* Adjust this value based on your content */
}

.container h3 {
    padding-top: 3em;
    /* Adjust this value based on your content */
}

.podium-section {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.podium {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.podium-item {
    height: 12em;
    color: #fff;
    text-align: center;
    margin: 10px 10px;
    transition: transform 1s ease-in-out;
}

.podium-item img {
    width: 15em;
    height: 8em;
    object-fit: cover;
}

#thirdPlace {
    background-color: #CD7F32;
}

#secondPlace {
    background-color: #C0C0C0;
}

#firstPlace {
    background-color: #FFD700;
}

/* footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

footer a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .section2 {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    .section2 article {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .section2 figure {
        width: 100%;
    }
}